:root {
  font-family: "Avenir Next", "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #14281d;
  background-color: #f6f1e7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #1d5a86;
  text-decoration: inherit;
}
a:hover {
  color: #154667;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
